<ion-header>

  <ion-navbar color="primary">
    <ion-title>recomendaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let carrera of recomendaciones" (tap)="verCarrera(carrera)">
      <ion-avatar item-start>
        <img src="{{carrera.image}}">
      </ion-avatar>
      <h2>{{carrera.nombre}}</h2>
      <p>{{carrera.disciplina}}</p>
    </ion-item>
  </ion-list>
</ion-content>
