<ion-header>

  <ion-navbar color="primary">
    <ion-title>Kit de la carrera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <img src="{{carrera.kit.img}}"
    />
    <ion-card-content>
      <ion-card-title>
        Kit de la carrera
      </ion-card-title>
      <p>
        {{carrera.kit.descripcion}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
