<ion-header>

  <ion-navbar color="primary">
    <ion-title>Preparación Física</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <img src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/prunning.jpeg?alt=media&token=6ceeb6eb-2fcb-464e-900d-999cbaba3d7d" />
    <ion-card-content>
      <ion-card-title>
        Prepara a tu cuerpo
      </ion-card-title>
      <p>
        Recuerda prepararte adecuadamente para el evento, 
        no trates de correr lo que no corriste en un mes dias antes de la carrera.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/comida.jpg?alt=media&token=d776eb83-4e98-4674-8aed-f6bf83189ea9" />
    <ion-card-content>
      <ion-card-title>
        Come sanamente
      </ion-card-title>
      <p>
        Los alimentos que ingieras un par de dias antes de la carrera 
        van a ser los que te den la energia el dia del evento,
         trata de comer carbohidratos y de no ingerir sustancias nocivas para la salud.
      </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
