<ion-header>

  <ion-navbar color="primary">
    <ion-title>Memes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="{{foto.img}}" class="galeria"  *ngFor="let foto of imagenes" imageViewer>
</ion-content>
