<ion-header>

  <ion-navbar color="primary">
    <ion-title>Patrocinadores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/monchys.png?alt=media&token=280aee16-c6ce-447b-8372-5d4b43f63fce">
      </ion-thumbnail>
      <h2>Monchys</h2>
      <button ion-button clear item-end>Ver</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/innovasport.png?alt=media&token=d558a455-c7e7-4b0a-ac53-514643a0db10">
      </ion-thumbnail>
      <h2>Innova Sport</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/collection.jpg?alt=media&token=f7b475fc-c297-4f84-9084-68dcf5dd6280">
      </ion-thumbnail>
      <h2>Collection tennis</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/durangotrek.jpg?alt=media&token=aa90f495-03d0-453b-9043-22525a76aa7e">
      </ion-thumbnail>
      <h2>DuranGO Trek</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>