<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mis preferencias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
  
    <ion-item>
      <ion-label>Deporte favorito:</ion-label>
      <ion-select [(ngModel)]="deporte_fav">
        <ion-option *ngFor="let deporte of deportes" value="{{deporte}}">{{deporte}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Distancia:</ion-label>
      <ion-input [(ngModel)]="distancia" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de distancia:</ion-label>
      <ion-select [(ngModel)]="tipo_distancia">
        <ion-option value="km" selected>KM</ion-option>
        <ion-option value="millas">Millas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Genero:</ion-label>
      <ion-select [(ngModel)]="genero">
        <ion-option value="H">H</ion-option>
        <ion-option value="M">M</ion-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

  <button (tap)="saveConfig()" ion-button block>Guardar</button>
</ion-content>
