<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button (tap)="cerrarSesion()" ion-button icon-only>
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <h1>{{ user.email }}</h1>
  <button (tap)="goToConfig(user)" ion-button block>Mis preferencias</button>
  <ion-list *ngIf="user.eventos_seguidos != undefined">
    <ion-item *ngFor="let carrera of user.eventos_seguidos" (tap)="verCarrera(carrera)">
      <ion-avatar item-start>
        <img src="{{carrera.image}}">
      </ion-avatar>
      <h2>{{carrera.nombre}}</h2>
      <p>{{carrera.disciplina}}</p>
    </ion-item>
  </ion-list>
</ion-content>
