<ion-header>

  <ion-navbar color="primary">
    <ion-title>Galeria</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img *ngFor="let foto of carrera.galeria" class="galeria" src="{{foto.img}}" alt="" imageViewer>
</ion-content>
