.ios, .md {
    page-home {
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
      .footer-img{
        margin-top: 0;
        padding: 0;
      }
      .img-footer{
        margin-left: 38%;
      }
      .header-avatar{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        box-shadow: -0.5px 1px 30px 1px rgba(0,0,0, 0.90);
      }
      .header-container{
        align-content: center !important;
        align-items: center !important;
        text-align: center !important;
      }
      ion-card-content{
        padding: 0;
        margin: 0;
      }
      ion-col{
        padding: 5px 0px;
      }
 
    }
 
}
