<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button (tap)="goToIDK()" ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>PromoVR Sport</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar class="footer-img">
    <ion-img class="img-footer" width="80" height="40" src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/Logo-03.png?alt=media&token=a26ae208-1a82-4031-b6ec-f0548cb142fc"></ion-img>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let carrera of carreras | async" (tap)="verCarrera(carrera)">
      <ion-avatar item-start>
        <img src="{{carrera.image}}">
      </ion-avatar>
      <h2>{{carrera.nombre}}</h2>
      <p>{{carrera.disciplina}}</p>
    </ion-item>
  </ion-list>
  <button (tap)="recomendacionesPage()" ion-button block>Mis Recomendaciones</button>

</ion-content>

