<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ carrera.nombre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-container">
    <h4>{{ carrera.nombre }}</h4>
    <img class="header-avatar" src="{{ carrera.image }}">
    <button *ngIf="!following" (tap)="seguirEvento()" class="follow-button" ion-button outline>Seguir <br> {{carrera_seguidores}}</button>
    <button *ngIf="following" (tap)="dejarSeguirEvento()" class="follow-button" ion-button>Siguiendo <br> {{carrera_seguidores}}</button>
  </div>
  <ion-grid>
    <ion-row>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="verRuta()">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="map" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Ruta
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="preRegistro(carrera)">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="document" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Kit de la carrera
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="preparacionPage()">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="body" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Preparacion fisica
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="promocionesPage()">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="cart" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Promociones
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="comunidadPage(carrera)">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="people" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Comunidad
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="patrocinadoresPage()">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="clipboard" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Patrocinadores
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="premiosPage()">
          <ion-card-header class="bg-red">
            <ion-icon  class="large-icon" name="trophy" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Premios
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="pay()">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="card" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Inscribete
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="encuestaPage()">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="help" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            ¿Qué te pareció el evento?
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="center-text without-separation" (tap)="realidadPage()">
          <ion-card-header class="bg-red">
            <ion-icon class="large-icon" name="planet" item-start></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Realidad Aumentada
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>