<ion-header>

  <ion-navbar color="primary">
    <ion-title>Inscripción</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <button (tap)="payInscription()" ion-button block>Inscribete</button>
</ion-content>
