<ion-header>

  <ion-navbar color="primary">
    <ion-title>Premios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      Libre
    </ion-list-header>
    <ion-item>
      <ion-icon name="medal" color="first" item-start></ion-icon>
      $ 15,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="second" item-start></ion-icon>
      $ 10,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="third" item-start></ion-icon>
      $ 5,000 MXM
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Juvenil
    </ion-list-header>
    <ion-item>
      <ion-icon name="medal" color="first" item-start></ion-icon>
      $ 10,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="second" item-start></ion-icon>
      $ 5,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="third" item-start></ion-icon>
      $ 2,500 MXM
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Sub-Master
    </ion-list-header>
    <ion-item>
      <ion-icon name="medal" color="first" item-start></ion-icon>
      $ 10,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="second" item-start></ion-icon>
      $ 5,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="third" item-start></ion-icon>
      $ 2,500 MXM
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Master
    </ion-list-header>
    <ion-item>
      <ion-icon name="medal" color="first" item-start></ion-icon>
      $ 10,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="second" item-start></ion-icon>
      $ 5,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="third" item-start></ion-icon>
      $ 2,500 MXM
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Veteranos
    </ion-list-header>
    <ion-item>
      <ion-icon name="medal" color="first" item-start></ion-icon>
      $ 10,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="second" item-start></ion-icon>
      $ 5,000 MXM
    </ion-item>
    <ion-item>
      <ion-icon name="medal" color="third" item-start></ion-icon>
      $ 2,500 MXM
    </ion-item>
  </ion-list>
</ion-content>
