// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.galeria{
    height: 150px;
    width: 33%;
    margin: 0.15%;
}

.follow-button{
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.large-icon{
    font-size: 35px;
}

.without-separation{
    margin-bottom: -10px;
    padding-bottom: -10px;
}
.left-item{
    margin-right: -10px;
}
.right-item{
    margin-left: -10px;
}

.bg-red{
    background-color: #FF5252;
}
