<ion-header>

  <ion-navbar color="primary">
    <ion-title>Comunidad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (tap)="galeriaPage()">
      <ion-icon name="images" item-start></ion-icon>
      Galeria
    </ion-item>
    <ion-item (tap)="memesPage()">
      <ion-icon name="happy" item-start></ion-icon>
      Memes
    </ion-item>
  </ion-list>
</ion-content>
