<ion-header>

  <ion-navbar color="primary">
    <ion-title>Encuesta</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <h6>Como calificarias el evento?</h6>
  <ion-item>
    <ion-select id="select_metodos" multiple="false">
      <ion-option *ngFor="let opinion of opiniones" value="{{opinion}}">{{opinion}}</ion-option>
    </ion-select>
  </ion-item>
  <h6>Como calificarias la ruta del evento?</h6>
  <ion-item>
    <ion-select id="select_metodos" multiple="false">
      <ion-option *ngFor="let opinion of opiniones" value="{{opinion}}">{{opinion}}</ion-option>
    </ion-select>
  </ion-item>
  <h6>Como calificarias la hidratación?</h6>
  <ion-item>
    <ion-select id="select_metodos" multiple="false">
      <ion-option *ngFor="let opinion of opiniones" value="{{opinion}}">{{opinion}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Tu opinión</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>
  <button ion-button block>Enviar</button>
</ion-content>
