<ion-header>

  <ion-navbar color="primary">
    <ion-title>Promociones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <img class="promo-img" src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/monchys.png?alt=media&token=280aee16-c6ce-447b-8372-5d4b43f63fce">
    <ion-card-content>
      <ion-card-title>
        Monchys
      </ion-card-title>
      <p>
        $ 15 la rebanada al mostrar tu numero de la carrera
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img class="promo-img" src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/innovasport.png?alt=media&token=d558a455-c7e7-4b0a-ac53-514643a0db10">
    <ion-card-content>
      <ion-card-title>
        InnovaSport
      </ion-card-title>
      <p>
        2 x 1 y 1/2 en tenis al mostrar tu numero de la carrera
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img class="promo-img" src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/collection.jpg?alt=media&token=f7b475fc-c297-4f84-9084-68dcf5dd6280">
    <ion-card-content>
      <ion-card-title>
        Collection Tennis
      </ion-card-title>
      <p>
        20% de descuento en equipo de hidratación al mostrar tu numero de la carrera
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img class="promo-img" src="https://firebasestorage.googleapis.com/v0/b/administrador-espacios.appspot.com/o/durangotrek.jpg?alt=media&token=aa90f495-03d0-453b-9043-22525a76aa7e">
    <ion-card-content>
      <ion-card-title>
        DuranGO Trek
      </ion-card-title>
      <p>
         12 meses sin intereses en relojes deportivos al mostrar tu numero de la carrera
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
